.container {
  $block-name: &; // #{$block-name}__element

  width: calc(100% - 3rem);
  max-width: 160rem;
  margin: 0 auto;

  @media screen and (min-width: $screen-t) {
    width: calc(100% - 8rem);
  }

  @media screen and (min-width: $screen-d) {
    width: calc(100% - 16rem);
  }

  @media screen and (min-width: $screen-dxl) {
    width: calc(100% - 32rem);
  }
}
