extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block main
  +hero
  +profession
  section.products
    ul.products__list
      each item in products.section
        +products(item)
  +cooking
  +advantages
  +numbers
  section.mangals#mangals
    h1.mangals__header мангалы
    ul.mangals__list
      each item in mangals.section
        +mangals(item)
  section.grills#grills
    h1.grills__header гриль-барбекю
    ul.grills__list
      each item in grills.section
        +grills(item)
  section.firecups#firecups
    h1.firecups__header костровые чаши
    ul.firecups__list
      each item in firecups.section
        +firecups(item)
  section.instruments#instruments
    h1.instruments__header комплектующие
    ul.instruments__list
      each item in instruments.section
        +instruments(item)