//- Все примеси в этом файле должны начинаться c имени блока (numbers)

mixin numbers(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +numbers('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' numbers--' + modsList[i].trim();
      }
    }

  .numbers(class=allMods)&attributes(attributes)
    .numbers__inner
      .numbers__info
        each item in numbers.section
          .numbers__numbers
            p.numbers__num!= item.number
            p.numbers__num-descr!= item.description
