.carousel {
  $block-name: &; // #{$block-name}__element

  width: 100%;
  height: 420px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 70%;
  }

  &__prev,
  &__next {
    width: calc(var(--carousel-navigation-size) / 44 * 27);
    height: var(--carousel-navigation-size);
  }

  &__prev::after,
  &__next::after {
    color: var(--brand-primary);
    font-size: var(--carousel-navigation-size);
  }
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 6px));
}

.swiper-pagination-bullet-active {
  background: var(--brand-secondary);
}
