.advantages {
  $block-name: &; // #{$block-name}__element

  background: var(--bg-gray);

  &__inner {
    align-items: left;

    @media (min-width: $screen-tl) {
      padding: 70px 160px;
    }

    @media (min-width: $screen-d) {
      padding: 70px 260px;
    }

    @media (min-width: $screen-dl) {
      padding: 70px 300px;
    }

    @media (min-width: $screen-dxl) {
      padding: 70px 340px;
    }
  }

  &__img {
    max-width: 574px;
    max-height: 590px;
  }
}
