.advantages {
  $block-name: &; // #{$block-name}__element

  padding-top: 32px;
  background: var(--bg-gray);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 40px 32px;
    background: url("/img/advantages__pic.png");
    background-repeat: no-repeat;
    background-position: 95% 0;
    background-size: contain;

    @media (min-width: 992px) {
      padding: 70px 32px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }

  &__list-item {
    display: flex;
    align-items: center;
    max-width: 850px;
    padding: 4px 16px;
    list-style-type: none;
    background: var(--bg-white);
    border-radius: 12px;
    opacity: 0.9;
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 24px;
    color: var(--bg-black);
  }

  &__title {
    margin: 0;
    font-size: 20px;

    @media (min-width: 992px) {
      font-size: 28px;
    }
  }

  &__description {
    font-size: 16px;

    @media (min-width: 992px) {
      font-size: 20px;
    }
  }

  &__img {
    max-width: 574px;
    max-height: 590px;
  }
}
