//- Все примеси в этом файле должны начинаться c имени блока (advantages)

mixin advantages(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +advantages('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' advantages--' + modsList[i].trim();
      }
    }

  .advantages(class=allMods)&attributes(attributes)
    .advantages__inner
      a.video(data-youtube, href='https://www.youtube.com/watch?v=4lERT0HEZjk')
        svg.video__icon
          use(xlink:href='img/svgSprite.svg#icon__play')
