// В этом файле должны быть стили для БЭМ-блока video, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: url("../img/video__bg.jpg") no-repeat center;
  background-size: cover;
  aspect-ratio: 16/8;

  &__icon {
    width: 64px;
    height: 64px;
  }

  &__container {
    width: 100%;
    height: auto;
    aspect-ratio: 16/8;
  }
}
