.header {
  $block-name: &; // #{$block-name}__element

  background: var(--color-black);

  &__inner {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
  }

  &__section-title {
    color: var(--color-white);
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;

    @media (min-width: $screen-tl) {
      font-size: 18px;
    }
  }

  &__logo {
    width: 50px;
    height: 50px;

    @media (min-width: $screen-tl) {
      width: 75px;
      height: 75px;
    }
  }

  &__img {
    width: 50px;
    height: 50px;

    @media (min-width: $screen-tl) {
      width: 75px;
      height: 75px;
    }
  }

  &__nav {
    display: none;
    justify-content: space-around;
    width: 480px;

    @media (min-width: $screen-ti) {
      display: flex;
      width: 560px;
    }

    @media (min-width: $screen-tl) {
      width: 700px;
    }
  }
}
